@(list: Seq[Event])

@main {

    <script>

    </script>

    <div class="container2">
        <div class="row row-offcanvas row-offcanvas-left">

                <!-- sidebar -->
            <!--div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Customers info</a></li>
                    <li><a href="#">Saleforces link</a></li>
                    <li><a href="#" data-toggle="collapse" data-target="#sub1">Saleforces case</a>
                        <ul class="nav collapse" id="sub1">
                            <li><a href="#">Case 18542</a></li>
                            <li><a href="#">Case 19572</a></li>
                            <li><a href="#">Case 24561</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Orsyp</a></li>
                </ul>
            </div-->

                <!-- main area -->
            <div class="col-xs-12" style="position: inherit">
                <div id="element">
                    <span id ="window">
                        <div class="wellT well">
                            <span class="label label-warning">UNIV60</span>
                            <span class="label label-default">saturne</span>
                            <span class="badge">X</span>
                            <span class="badge">S</span>
                        </div>
                        <div class="col-lg-7">
                            <div class="mypanel panel panel-primary" >
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw" style="color:white"></i> Running metrics
                                </div>
                                <div class="panel-body">
                                    <span id="kinetic"></span>
                                </div>
                            </div>

                            <div class="mypanel panel panel-primary">
                                <div class="panel-heading">
                                    <i class="fa fa-pie-chart fa-fw"></i> Systeme information
                                </div>
                                <div class="panel-body">
                                    <span id="status"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="mypanelR panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bell fa-fw"></i> Notification
                                </div>
                                <div class="panel-body">
                                    <div class="list list-group">
                                        @for(part <- list) {
                                            <a href="#" class="list list-group-item">
                                                <i class="fa @part.typeEvent fa-fw"></i> @part.log
                                                <span class="pull-right text-muted small"><em>@part.date</em>
                                                </span>
                                            </a>
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="wellR  well">
                                <div class="col-lg-7">
                                    <div><img src="assets/images/Linux.png" height= 48 width=48/></div>
                                    <p style="float: left">
                                        <div><strong>Unbuntu 11.4</strong></div>
                                        <div>Linux 2.6.32</div>
                                        <div>x86_64</div>
                                        <div>Ocs agent 0.1.0</div>
                                    </p>
                                </div>
                                <div class="col-lg-5">
                                    <img src="assets/images/ram.png" height= 48 width=48/>
                                    <p style="float: left">
                                        <div></span><strong>16 CPU</strong></div>
                                        <div><strong>12 GO</strong></div>
                                        Intel xeon
                                    </p>
                            </div>
                            </div>
                        </div>

                    </span>


                </div>


            </div><!-- /.col-xs-12 main -->
        </div><!--/.row-->
    </div><!--/.container-->

}